/* @import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,200;0,300;0,400;0,500;0,700;1,200;1,300;1,400;1,500;1,700&display=swap'); */

/* NOTE - workaround fix (mui5 and next.js 12.1.x), about custom font not working on mobile device (chrome, safari) when deploy to production */
/* REF: https://stackoverflow.com/questions/72399203/google-fonts-not-loading-in-next-js-when-deployed-to-vercel */
/* @import '../styles/fonts-anuphan-latin.css'; */
/* @import '../styles/fonts-anuphan-thai.css'; */
/* @import '../styles/fonts-kanit-latin.css'; */
/* NOTE - other projects use Kanit for thai text and Inter for english text */
@import '../styles/fonts/fonts-kanit-thai.css';
@import '../styles/fonts/fonts-inter.css';

:root {
	--font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono', 'Roboto Mono', 'Oxygen Mono',
		'Ubuntu Monospace', 'Source Code Pro', 'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;

	--foreground-color: white;
	--background-color: #f2f5f8;
}

html,
body {
	padding: 0;
	margin: 0;
	font-family: Kanit, Inter, sans-serif;
	height: 100%;
}

#__next {
	height: 100%;
	display: flex;
	background: var(--background-color);
}
